<html>
<head>
    <title>Places you've been:</title>
</head>
<body>
    <h1>You've been here!</h1>
    <p>{{ newcity.getCity }}</p>
      <ul>
        <li><img src="{{ newcity.getPicture }}"></li>
      </ul>
    <p><a href='/'>View all the places you've been.</a></p>
</body>
</html>
